<h1>My to-do list</h1>
<button (click)="modal.toggle()"><img src="assets/icons/option.png" alt=""></button>
<app-bottom-sheet #modal>
    <h2>En.:</h2>
    <p>At some point here you will have options to configure and customize your Task List,
        feel free to follow the development ;)</p>
    <hr>
    <h2>Pt-Br.:</h2>
    <p>Em algum momento aqui tera opções para configurar e personalizar a sua Lista de tarefas,
        sinta-se livre para acompanhar o desenvolvimento ;)</p>
</app-bottom-sheet>